.body{
    background-color: #8ad4ff;
    border-radius: 25px;
    padding: 25px;
}
footer{
    padding-top: 50px;;
    background-color: #8ad4ff;
    border-radius: 25px;
    padding: 25px;

}

.menu{
    padding: 25px;
    font-size: 24px;
    text-align: center;
    background-color: #8ad4ff;
    border-radius: 25px;

}
.bmw{
    cursor: pointer;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #45b4e9;
    text-decoration: none;
    background-color: #45b4e9;
    color: black;
}
.tesla{
    cursor: pointer;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #45b4e9;
    text-decoration: none;
    background-color: #45b4e9;
    color: black;
}

.nissan{
    cursor: pointer;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #45b4e9;
    text-decoration: none;
    background-color: #45b4e9;
    color: black;
}
.map{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 15px;
}


