.body{
    background-color: #8ad4ff;
    border-radius: 25px;
    padding: 25px;
}


.menu{
    padding: 25px;
    font-size: 24px;
    text-align: center;
    background-color: #8ad4ff;
    border-radius: 25px;

}
.main-menu{
    cursor: pointer;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #45b4e9;
    text-decoration: none;
    background-color: #45b4e9;
    color: black;
}
.tesla{
    cursor: pointer;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #45b4e9;
    text-decoration: none;
    background-color: #45b4e9;
    color: black;
}

.nissan{
    cursor: pointer;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #45b4e9;
    text-decoration: none;
    background-color: #45b4e9;
    color: black;
}
.map{
    text-align: center;
    padding-bottom: 15px;
    float: right;
    margin-right: 175px;
}
.second-menu{
    padding-top: 100px;
    font-size: 24px;
    padding: 25px;
    float: left;
    background-color: #8ad4ff;
    border-radius: 25px;
    margin-left: 125px;
    
}
.i3{
    padding-bottom: 15px;
    font-style: initial;
}
.i8{
    padding-bottom: 15px;
    font-style: initial;
}
.ix{
    padding-bottom: 15px;
    font-style: initial;
}
.space{
    padding: 30px;
}

